
<!DOCTYPE html>
<html lang="en">

<meta http-equiv="content-type" content="text/html;charset=utf-8" /><head>

    <!--meta tags-->

    <meta charset="UTF-8">
    <meta name="description" content="Services Listing HTML5 CSS3 template">
    <meta name="keywords" content="HTML,CSS,XML,JavaScript, services, listing">
    <meta name="author" content="Ui-DesignLab">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--end meta tags-->

    <title>Welcome {{user.username}}</title>

    <!--stylesheets-->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.theme.green.min.css">
    <link rel="stylesheet" href="css/app.css">

    <!--end stylesheets-->

    <!--google fonts-->

    <link href="https://fonts.googleapis.com/css?family=Quicksand:700|Raleway|Tangerine" rel="stylesheet">
    <!--end google fonts-->
     <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">

</head>
<body>
<!-- Add New School Modal -->
<div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add New School</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="auth-wrapper">
                        <div class="form-tabs">
                            <a href="#" data-frm="login-frm" class="tab active">Kindly Fill the Form Below</a>
                        </div>
                        <form class="login-frm frm" action="/addSchool" method="post" enctype='multipart/form-data'>
                            <div class="form-group">
                                <label for="email1">Name of School:</label>
                                <input type="text" required name="name" autocomplete="email" id="#">
                            </div>
                            <div class="form-group">
                                <label for="l">Upload Image</label>
                                <input type="file" name="image" required/>
                            </div>
                            <div class="form-group">
                                <label for="pass1">Type of Institution</label>
                                <div class="sel">
                                        <select title="Service" name="type" class="wide">
                                            <option selected >Select Institution Type</option>
                                            <option data-display="Select" value="Nursey & Primary school" >Nursery & Primary School</option>
                                            <option value="Secondary School">Secondary School</option>
                                            <option value="Higher Institution">Higher Institution</option>
                                            <option value="Others">Others</option>
                                        </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="email1">Address:</label>
                                <input type="text" required name="address" autocomplete="email" id="#">
                            </div>
                            <div class="form-group">
                                    <label for="email1">Location</label>
                                    <div class="sel">
                                        <select name="location" title="Service" class="wide">
                                            <option >Select a State</option>
                                            <option value="Abia">Abia</option>
                                            <option value="Adamawa">Adamawa</option>
                                            <option value="Anambra">Anambra</option>
                                            <option value="Akwa Ibom">Akwa Ibom</option>
                                            <option value="Bauchi">Bauchi</option>
                                            <option value="Bayelsa">Bayelsa</option>
                                            <option value="Benue">Benue</option>
                                            <option value="Borno">Borno</option>
                                            <option value="Cross River">Cross River</option>
                                            <option value="Delta">Delta</option>
                                            <option value="Ebonyi">Ebonyi</option>
                                            <option value="Enugu">Enugu</option>
                                            <option value="Edo">Edo</option>
                                            <option value="Ekiti">Ekiti</option>
                                            <option value="Gombe">Gombe</option>
                                            <option value="Imo">Imo</option>
                                            <option value="Jigawa">Jigawa</option>
                                            <option value="Kaduna">Kaduna</option>
                                            <option value="Kano">Kano</option>
                                            <option value="Katsina">Katsina</option>
                                            <option value="Kebbi">Kebbi</option>
                                            <option value="Kogi">Kogi</option>
                                            <option value="Kwara">Kwara</option>
                                            <option value="Lagos">Lagos</option>
                                            <option value="Nasarawa">Nasarawa</option>
                                            <option value="Niger">Niger</option>
                                            <option value="Ogun">Ogun</option>
                                            <option value="Ondo">Ondo</option>
                                            <option value="Osun<">Osun</option>
                                            <option value="Oyo">Oyo</option>
                                            <option value="Plateau">Plateau</option>
                                            <option value="Rivers">Rivers</option>
                                            <option value="Sokoto">Sokoto</option>
                                            <option value="Taraba">Taraba</option>
                                            <option value="Yobe">Yobe</option>
                                            <option value="Zamfara">Zamfara</option>
                                            <option value="Abuja - FCT">Abuja - FCT </option>
                                        </select>
                                    </div>
                            </div>
                            <div class="form-group">
                                <label for="message">School's Description:</label>
                                <textarea name="description" class="form-control">Enter Details for school here</textarea>
                            </div>
                            <br>
                            <hr>
                            <div class="form-tabs">
                                <a href="#" data-frm="register-frm" class="tab">Other Details</a>
                            </div>
                            <div class="form-group">
                                <label for="email1">Schools Email:</label>
                                <input type="email" name="email" autocomplete="email" id="email1">
                            </div>
                            <div class="form-group">
                                <label for="email1">Schools Number:</label>
                                <input type="text" name="phone" autocomplete="email" id="email1">
                            </div>
                            <br>
                            <div class="sub-btn">
                                <input type="submit" class="btn ui-btn info" value="SUBMIT FOR REVIEW">
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div> 
    <!-- end of Add New School Modal -->

<!--top bar-->
<div class="top-bar">
    <div class="slide-container">
        <div class="top-strip">
            <i class="fa fa-angle-left fa-2x side-nav-toggle"></i>
        </div>
        <div class="bottom-strip">
            <h5>Welcome <span> {{user.username}} </span></h5>
            
        </div>
    </div>
</div>
<!--end top bar-->

<!--side menu-->
<div class="side-nav">
    <div class="dash-logo">
        <i class="fa fa-times cls-nav"></i>
        <h2>School Review</h2>
    </div>
    <div class="links-container">
        <div class="panel-user">
            <strong> {{user.username}} </strong>
            <strong> Plan: {{user.plan}} </strong>
        </div>
        <ul class="list-unstyled dash-links">
            <li><a href="/" ><i class="fa fa-th-large"></i> <span>Home</span></a></li>
            <li><a href="#" class="active"><i class="fa fa-th-large"></i> <span>My Dashboard</span></a></li>
            <li><a href="/list"><i class="fa fa-th-large"></i> <span>All Schools</span></a></li>
        </ul>
        <div class="logout"><a href="/logout">Logout</a></div>
    </div>
</div>
<!--end side menu-->

<!--dashboard content-->
<div class="slide-container">
    <div class="dashboard-content">

        <!--statistics-->
        <div class="statistics">
            <div class="row">
                <div class="col-lg-3 col-md-4">
                    <div class="alert alert-info">
                        {{#if reviewedSchools }}
                        <h6>You have reviewed {{ reviewedSchools.length }} school(s)</h6>
                        {{else}}
                         <h6>You have reviewed 0 school(s)</h6>
                        {{/if}}
                    </div>
                </div>
                
            </div>
        </div>
        <!--end statistics-->

        <div class="row">
            <div class="col-lg-12">
                <div class="holder">
                    <div class="graph">
                        {{#if user.admin}}
                            <button class="btn ui-btn info" data-toggle="modal" data-target="#Modal">Add New Listing</button><br><hr><br>
                            <h3>Schools I added</h3><hr>
                        {{else}}
                            <h3>Schools I reviewed</h3><hr>
                        {{/if}}
                        
                        <div class="row card-deck">
                            {{#if user.admin}}
                                {{#each user.schools}}
                                    <div class="col-md-6">
                                            <div class="card">
                                                <div class="card-body">
                                                <a href="/schools/{{_id}}">
                                                    <h4 class="card-title">{{name}}</h4>
                                                    <hr/>
                                                </a>
                                                <p class="card-text">
                                                    {{description}}
                                                </p>
                                                <p><i class="fa fa-clock-o" aria-hidden="true"></i>
                                                    <span>{{updatedAt}}</span>
                                                </p>
                                                <div>
                                                    <a href="/schools/{{_id}}/edit" class="btn btn-outline-success">Edit</a>
                                                    <form method="post" action="/delete/{{_id}}">
                                                        <button class="btn btn-outline-danger">Delete</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div> 
                                {{/each}}
                            {{else}}
                                {{#each reviewedSchools}}
                                    <div class="col-md-6">
                                            <div class="card">
                                                <div class="card-body">
                                                <a href="/schools/{{_id}}">
                                                    <h4 class="card-title">{{name}}</h4>
                                                    <hr/>
                                                </a>
                                                <p class="card-text">
                                                    {{description}}
                                                </p>
                                                <p><i class="fa fa-clock-o" aria-hidden="true"></i>
                                                    <span>{{updatedAt}}</span>
                                                </p>
                                            </div>
                                        </div>
                                    </div> 
                                {{/each}}
                            {{/if}}
                    </div>
                </div>
            </div>
        </div>

        <!--dashboard footer-->
        <div class="dash-footer">
            <span><p class="copyright footer-logo"><i  class="fa fa-copyright"></i> 2018 Saucecode.
                Developed with <i class="fa fa-heart text-info"></i>&nbsp; by <a href="https://github.com/seunzone"><strong>Seun</strong></a> and <a href="https://github.com/leksyib"><strong>Lekan</strong></a></p>
                </div>
        <!--end dashboard footer-->

    </div>
</div>
<!--end dashboard content-->

<!--Edit and Delete Modals -->

<!-- Edit School Modal -->
<div class="modal fade" id="Edit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit School</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="auth-wrapper">
                        <div class="form-tabs">
                            <a href="#" data-frm="login-frm" class="tab active">Kindly Fill the Form Below</a>
                        </div>
                        <form class="login-frm frm" action="/addschool" method="post">
                            <div class="form-group">
                                <label for="email1">Name of School:</label>
                                <input type="text" required name="name" autocomplete="email" id="#">
                            </div>
                            <div class="form-group">
                                <label for="l">Upload Image</label>
                                <input type="file" name="image" />
                            </div>
                            <div class="form-group">
                                <label for="pass1">Type of Institution</label>
                                <div class="sel">
                                        <select title="Service" name="type" class="wide">
                                            <option selected >Select Institution Type</option>
                                            <option value="Nursery & Primary School">Nursery & Primary School</option>
                                            <option value="Secondary School">Secondary School</option>
                                            <option value="Higher Institution">Higher Institution</option>
                                            <option value="Others">Others</option>
                                        </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="email1">Address:</label>
                                <input type="text" required name="address" autocomplete="email" id="#">
                            </div>
                            <div class="form-group">
                                    <label for="email1">Location</label>
                                    <div class="sel">
                                        <select name="location" title="Service" class="wide">
                                            <option >Select a State</option>
                                            <option value="Abia">Abia</option>
                                            <option value="Adamawa">Adamawa</option>
                                            <option value="Anambra">Anambra</option>
                                            <option value="Akwa Ibom">Akwa Ibom</option>
                                            <option value="Bauchi">Bauchi</option>
                                            <option value="Bayelsa">Bayelsa</option>
                                            <option value="Benue">Benue</option>
                                            <option value="Borno">Borno</option>
                                            <option value="Cross River">Cross River</option>
                                            <option value="Delta">Delta</option>
                                            <option value="Ebonyi">Ebonyi</option>
                                            <option value="Enugu">Enugu</option>
                                            <option value="Edo">Edo</option>
                                            <option value="Ekiti">Ekiti</option>
                                            <option value="Gombe">Gombe</option>
                                            <option value="Imo">Imo</option>
                                            <option value="Jigawa">Jigawa</option>
                                            <option value="Kaduna">Kaduna</option>
                                            <option value="Kano">Kano</option>
                                            <option value="Katsina">Katsina</option>
                                            <option value="Kebbi">Kebbi</option>
                                            <option value="Kogi">Kogi</option>
                                            <option value="Kwara">Kwara</option>
                                            <option value="Lagos">Lagos</option>
                                            <option value="Nasarawa">Nasarawa</option>
                                            <option value="Niger">Niger</option>
                                            <option value="Ogun">Ogun</option>
                                            <option value="Ondo">Ondo</option>
                                            <option value="Osun<">Osun</option>
                                            <option value="Oyo">Oyo</option>
                                            <option value="Plateau">Plateau</option>
                                            <option value="Rivers">Rivers</option>
                                            <option value="Sokoto">Sokoto</option>
                                            <option value="Taraba">Taraba</option>
                                            <option value="Yobe">Yobe</option>
                                            <option value="Zamfara">Zamfara</option>
                                            <option value="Abuja - FCT">Abuja - FCT </option>

                                        </select>
                                    </div>
                            </div>
                            <div class="form-group">
                                <label for="message">School's Description:</label>
                                <textarea name="description" class="form-control">Enter Details for school here</textarea>
                            </div>
                            <br>
                            <hr>
                            <div class="form-tabs">
                                <a href="#" data-frm="register-frm" class="tab">Other Details</a>
                            </div>
                            <div class="form-group">
                                <label for="email1">Schools Email:</label>
                                <input type="email" name="email" autocomplete="email" id="email1">
                            </div>
                            <div class="form-group">
                                <label for="email1">Schools Number:</label>
                                <input type="text" name="phone" autocomplete="email" id="email1">
                            </div>
                            <br>
                            <div class="sub-btn">
                                <input type="submit" class="btn ui-btn info" value="SUBMIT FOR REVIEW">
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div> 
    <!-- end of Edit School Modal -->

  <!-- Delete MODAL -->
  <div class="modal fade" id="Delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Delete Listing</h5>
              <form action="">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
              </form>
            </div>
            <div class="modal-body">
              Are you sure you want to delete this listing?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
              <button type="button" class="btn btn-danger" data-dismiss="modal">Agree</button>
            </div>
          </div>
        </div>
      </div>
      <!-- delete MODAL ENDS -->
    <!-- End of Modals -->

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.perfect-scrollbar/0.8.1/js/perfect-scrollbar.jquery.min.js"></script>
<script src="js/app.js"></script>

</body>

</html>
